/* Estilos generales */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4c56af;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.eye {

    background-color: #734991;
    width: 40px;
    height: 20px;
    padding: 9px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e9ecef;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1rem;
}

.search-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #787dad;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #ff1e8f;
}

/* Sección Sobre Nosotros */
main {
    padding: 2rem;
}

.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container {
    margin: 0 auto;
}

h1, h2 {
    color: #4c56af;
}

.history, .mission-vision, .team, .certifications {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 2px solid #ff1e8f;
    padding-bottom: 0.5rem;
}

.history p {
    line-height: 1.6;
    color: #333
}

p {
    line-height: 1.6;
    color: whitesmoke;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #4c56af;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e9ecef;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1rem;
}

.search-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #787dad;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #ff1e8f;
}
.takelook {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #734991;
    width: 90px;
    height: 30px;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width: 698px) {
    header{
        padding: 0;
    }
    ul{
        display: flex;
        gap:10px;
        padding: 0;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 100%;
        background-color: #5b67da;
    }

    body {
        position: sticky;
        background-image: url(img/Massanito1_01.webp);
        background-position: center;
        background-size: cover;
        /* ! quiero que la img siga al usuario mientras sigue revisando la página */
        background-attachment: fixed;
    }

    .andjustice {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        gap:5px;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .nav-links div {
        width: 95%;
        height: 50px;
    }

    .box1 {
        width: 90%;
        padding: 15px;
    }

    .profile {
        width: 100%;
        margin: 10px 0;
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    footer {
        margin: 0px;
        padding: 10px;
    }
}